<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" th:href="@{/favicon.png}" type="image/x-icon">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <tr style="background-color: red" th:each="playlist: ${playlists}">
            <td th:text="*{playlist.id}" />
            <td th:text="*{playlist.name}" />
            <td th:text="*{playlist.createdOn}" />
            <td>
                <table>
                    <tr th:each="song, iter: *{playlist.songs}">
                        <td th:text="*{song.id}" />
                        <td th:text="*{song.name}" />
                        <td th:text="*{playlist.createdOn}" />
<!--                        <td th:text="*{playlist.coverUrl}" />-->
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

</body>
</html>